*{
    margin: 0;
    padding: 0;  
}

body {
  background-color: #0d0302;
}

main{
    padding: 0 5rem;
}

/* CSS DEL HEADER DONDE ESTA LA FOTO Y LAS REDES SOCIALES */

header {
  background: #333;
  background-image: linear-gradient(to top, #56311d 9%, #0d0302 67%);
  padding: lrem 0;
  text-align: center;
}

header img{
    object-fit: cover;
    border-width: 4px;
    border-style: solid;
    border-color: #fff;
    border-radius: 50%;
}

header h1 {
    color: #FFF;
    font-size: 2.5 rem;
}

header h3 {
    color: #FFF;
    margin: 0.5 rem 0 0;
    font-style: italic;
}

/* CSS DEL HEADER DONDE ESTA LA BARRA DE MENU */

header nav {
    background-color: #8f7150;
    overflow: hidden;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    padding: 12px 22px;
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Arial;
    font-size: 2.5 rem;
}

header nav ul li a:hover {
    background: #9F8569;
}

.menu-fixed{
    position: fixed;
    z-index:1000;
    top:0;
    width: 100%;
}

/* CSS DE LOS LINKEOS */

#Publi:target{

}

/* CSS DE ABOUT */

.perfil img{
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    vertical-align: middle;
    border-width: 4px;
    border-style: solid;
    border-image: #fff;
}

section{

}

section h1{
    padding-top: 0;
    color: #fff;
    text-align: center;
    font-size: 52px;
    padding: 2.5rem 0; 
}

.contenedorp {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
    color: #fff;
}

.texto{
    flex: 1;
}

.contenedorp h2{
    font-size: 40px;
}

.contenedorp .sub {
    font-style: italic;
    font-size: 24px;
}

.contenedorp p{
    text-align: justify;
    font-size: 16px;
}

.contenedor a{
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
}

/* CSS DE GALERIA DE IMAGENES */

.G-Cont {
    width: 90%;
    max-width: 1100px;
    margin:  auto;
    display: flex;
    padding: 0;
}

.Column {
    flex: 25%;
    padding: 5px;
}

.Column img{
    width: 100%;
    margin-top: 5px;
    object-fit: cover;
    transition: transform 0.5s;
}

.Column img:hover{
    transform: rotate(5deg) scale(1.1);
}

@media (max-width: 600px){
    .Column{
        flex: 100%;
    }
}

@media (max-width: 800px){
    .Column{
        flex: 50%;
    }
}

/* CSS DE PUBLICACIONES */

.contenedorpu {
    text-align: justify;
    padding: 42px;
    color: #fff;
}

.contenedor h2{
    font-size: 40px;
}

.contenedor .sub {
    font-style: italic;
    font-size: 24px;
}

.contenedor p{
    font-size: 16px;
}

.contenedorpu a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}












.entrada {
  padding: 1.5 rem;
  margin-bottom: 2 rem;
  border-radius: 8 px;
  box-shadow: 0 2 px 5 px rgba (0,0,0,0,1);
}

.entrada h2 {
  color: #007bff;
}

.entrada .fecha {
  font-style: italic;
  color: #777;
  font-size: 0.9 rem;
}

.entrada .sub {
  font-style: italic;
  color: #fff;
  font-size: 0.9 rem;
}

.entrada a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.entrada p{
    color: #fff;
}

.entrada a:hover {
  text-decoration: underline;
}

